@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  color: whitesmoke;
  background-color: lightslategray;
  letter-spacing: 0.5px;
  text-align: center;
}

h1,
h2 {
  font-family: "Georgia", serif;
}

button,
.button {
  display: inline-block;
  width: fit-content;
  padding: 0.25rem 1rem;
  border-radius: 0.125rem;
  color: lightslategray;
  background-color: whitesmoke;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  font-size: small;
}

button:hover,
.button:hover {
  background-color: lightslategray;
  color: whitesmoke;
  border-color: whitesmoke;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
